@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
.menu-div, .menu-header {
    font-family: 'Montserrat', sans-serif;
}

/* Styling for the menu container */
.menu-div {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 items per column */
    gap: 20px;
    padding: 20px;
    background-color: #F8E9A1; /* White background for the whole menu */
    border-radius: 10px;
    max-width: 800px; /* limit the width */
    margin: 0 auto; /* Center the menu */
}

/* Styling for the individual menu items */
.menu-div div {
    background-color: black; /* Black background for each item */
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #F8E9A1; /* Use gold font color for text */
}

/* Header style for the menu */
.menu-header {
    font-size: 24px;
    text-align: center;
    color: #F8E9A1; /* Gold color for header */
    margin-bottom: 20px;
}

/* Style for menu item details */
.menu-div p {
    margin: 5px 0;
    font-size: 16px;
    color: #F8E9A1; /* Gold color for the text */
}


.menu-div div:hover {
    background-color: #f4a261; /* Light orange on hover */
    color: black; /* Change text color to black when hovered */
    cursor: pointer;
}
